p.paragrafo_testo {
	line-height:1.2em;
	height:3.6em;
	overflow:hidden;
	white-space: pre-line;
	font-size: 20cm
}

/* messaggi di errore, non funziona*/
.messagelist {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: auto auto;
    background-size: 16px auto;
    color: #333;

}

.navbar-text {
	font-size: 20px;
	/*color: crimson;*/
	font-weight: bolder;
	
}

.risultati {
    font-size: 25px;
    text-decoration: underline;
    
}



.floatleft {
    float:left; 
    width: 60%;
    /*background-color: brown;*/
    /*height: 400px;*/
}

.floatright {
    float: right;
    /*height: 400px;*/
    width: 40%;
    background-color: rgb(125, 243, 110);
}

