.wrap {
    width: 100%;
}

.floatleft {
    float:left; 
    width: 60%;
    /*background-color: brown;*/
    /*height: 400px;*/
}

.floatright {
    float: right;
    /*height: 400px;*/
    width: 40%;
    background-color: rgb(125, 243, 110);
}

.risultati {
    font-size: 25px;
    text-decoration: underline;
}

.form_tutti {
    font-size: 21px;
}

.btn-outline-success {
    background-color:#ece7e7;
}

.info_autore {
    font-size: 20px;
}

.multiline
{ 
  padding: 0px 0px 0px 10px;
  white-space: pre;
  text-align: "left";
  border-style:solid;
  border-width: 1px;
  background-clip: padding-box;
  border-color:rgb(28, 6, 150);
}

