{% extends base %}

{% block head %}
	<title>{% block title %}Commenti {% endblock title %}</title>
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'articolo/style.css' %}">  
{% endblock %} 

{% block body %}

<div class="container py-3 ml-5">
	{% if titolo != '' %}
		<h1 class="titolo ml-5" href="{% url 'articolo:info' id_articolo %}">{{ titolo }}</h1>
	{% endif %}
	{% if commenti|length == 0 %}
		<a class="ml-5" style="color: crimson; font-size: 24px">Per questo articolo non ci sono commenti.</a>
	{% else %}
		<ul class="col-6 pt-5 ml-5">
			{% for commento in commenti %}
				<li>
					<label style="font-size: 20px;">{{ commento.commentatore }}</label>
					<br>
					<div class="multiline">{{ commento.testo }}</div>
					<br>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock body %}
