{% extends "base.html" %} 

{% block head %}
    <title>{% block title %}Home {% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'articolo/style.css' %}">
{% endblock %} 

{% block body %}
<header class="div-image">
    <div class="container-fluid div-index">
        {# Tutto e' una lista di tuple: (articolo, autore) #}
        {% if tutto %}
        <div class="col-md-6">
            <h1  style="color:brown">Articoli Piu' Recenti</h1>
            <ul>
            {% for articolo, autore in tutto %}
                <li>
                    <p>
                        {# URL non piu' hardcoded #}
                        <a style="font-size:30px" href="{% url 'articolo:info' articolo.id %}">{{ articolo.titolo }}</a>
                        <span style="display:inline-block; width: 20;"></span>
                        <a >({{ articolo.data|date:"d-m-Y" }})</a>
                    </p>
                    <p style="font-size:20px" class='paragrafo_testo'>{{ articolo.testo }}</p>
                    <p style="font-family:cursive">{{autore.nick}}</p> 
                </li>
            {% endfor %}
            </ul>
        </div>        
        {% else %}
        <div class="col-md-12">
            <p class="">Al momento non sono presenti articoli.</p>
        </div>
        {% endif %}
    </div>
</header>

{% endblock %}

