{% extends "base.html" %}

{% block head %}
	<title>{% block title %}Articolo {% endblock title %}</title>
	{% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'articolo/style.css' %}">  
{% endblock %} 

{% block body %}
<div class="pt-4 floatleft row mx-auto pl-1">
	<div class="container py-3 ml-5">
		<h1 class="titolo">{{ articolo.titolo }}</h1> {# dovro' centrarlo #}
		<p>{{ articolo.data }}&emsp;({{articolo.categoria}})</p>
		<div class="multiline">{{ articolo.testo }}</div>
		<br>
		{% if autore.profilo_pubblico %}
		<a class="risultati" href="{% url 'autore:info' autore.id %}">
		{% else %}
		<a class="risultati-no-pubblici">
		{% endif %}
		{{ autore.username }}
		</a>
		<br>
		{# sezione commenti #}
		<div class="row mr-auto pt-3">
			<form class="pl-4 pt-2" action="{% url 'articolo:aggiungi_commento' articolo.id %}" method="get">
				<input class="col-12 btn btn-outline-primary" type="submit" value="Commenta" />
			</form>
			<form class="pl-4 pt-2" action="{% url 'articolo:commenti' articolo.id %}" method="get">
				<input class="col-12 btn btn-outline-secondary" type="submit" value="Visualizza solo i commenti" />
			</form>
		</div>
		<div class="pt-4 floatleft row mx-auto pl-1">
		{% if commenti|length == 0 %}
			<a class="ml-4" style="color: crimson; font-size: 24px">Per questo articolo non ci sono commenti.</a>
		{% else %}
			<ul class="col-6 pt-5 ml-4 list-group list-group-flush">
				{% for commento in commenti %}
					<li class="list-group-item">
						<label style="font-size: 20px;">{{ commento.commentatore }}</label>
						<br>
						<div class="multiline">{{ commento.testo }}</div>
						<br>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		</div>
		{# sezione citazioni #}
		<div class="floatright col-6">
			<h4>
				<a style="font-size:20px" href="{% url 'articolo:chi_mi_cita' articolo.id %}">
					Questo articolo e' stato citato {{ num_chi_mi_cita }} volte
				</a>
			</h4>
			<h3 >Articoli Citati:</a><br>
			{% for arti in chi_cito %}
				<a class="risultati" href="{% url 'articolo:info' arti.id %}">
					{{ arti.titolo }}
				</a><br>
			{% endfor %}
		</div>
		
	</div>
</div>
{# sezione delle keyword, a dx dell'articolo #}
<div class="floatright_k col-4 mt-5 mr-5">
	<h3 class="row">Keywords:</h3>
	<p class="row">
		<ul class="col-6 pt-5 ml-4  list-group list-group-flush">
			{% for k in articolo.keywords %}
				<li class="list-group-item">
					<label style="font-size: 16px;">{{ k }}</label>
				</li>
			{% endfor %}
		</ul>
	</p>
	{# inizio parte del voto #}
	<div class="row pt-3">
		<a class="col-2 ml-3" style="font-size: 20px;">Voto: {{ articolo.get_voto }}</a>
		{% if request.user.is_authenticated %}
		<form  class="col-6 form_tutti " action="{% url 'articolo:vota' articolo.id %}" method="post">
			{% csrf_token %}
			<input class=" mb-3 px-2 btn btn-outline-primary" type="submit" value="Vota" style="font-size: 15px;"/>
			<a class="mb-3 ml-3">
				<select id="voto" name="voto">
					<option value=0>0</option>
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
				</select>
			</a>			
		</form>
		{% endif %}
	</div>
</div>
{% endblock body %}