{% extends "base.html" %} 

{% block head %}
	<title>{% block title %}Scrivi {% endblock title %}</title>
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'autore/style.css' %}">  
{% endblock %} 

{% block body %}
<div class="container py-3 ml-5">
	<h1>Scrivi un Nuovo Articolo</h1>

	<form class="col-12 form_tutti pt-3" action="{% url 'autore:aggiungi_articolo' user.id %}" method="post">
		{% csrf_token %}
        {{ form.as_p }}
		
		<input class="col-4 btn btn-outline-primary" type="submit" value="Conferma" />
	</form>
</div>
{% endblock body %}


