{% extends "base.html" %} 

{% block head %}
    <title>{% block title %}Autore {% endblock title %}</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'autore/style.css' %}">
{% endblock %} 

{% block body %}
<div  class="container info_autore py-3 ml-5">
    {% if autore.first_name %}
        <h1>{{ autore.first_name }} {{ autore.last_name }}</h1>
    {% else %}
        <br>
    {% endif %}
    <p>Nick: {{ autore.username }}</p>
    <p>Data Registrazione: {{ autore.data_registrazione|date:"d-m-Y" }}</p>
    <p>E-Mail: <E-Mail>{{ autore.email }}</E-Mail></p>
    <a>Biografia:</a>
    <div class=" container multiline m-1" >
        <textarea class="" rows="8" cols="50" readonly>{{ autore.bio }}</textarea>
    </div>
    {# link degli articoli #}
    <h2>Articoli Scritti:</h2>
    <ul>
        {% for articolo in articoli %}
            <li>
                <a style="font-size:20px" href="{% url 'articolo:info' articolo.id %}">{{ articolo.titolo }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock body %}
    

